<div class="text-center background" >
  <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong" >
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" routerLink="/dashboard/cards" class="fields">Food Application</a>
    </div>
    <div class="pull-right">
      <!-- Navbar brand -->
      <a routerLink="/login" class="fields">{{data.name}},&nbsp;&nbsp;Logout</a>
    </div>
    <!-- Container wrapper -->
  </nav>
  <router-outlet></router-outlet>
  
</div>