<section class="text-center">
  <div class="p-5 bg-image background"></div>
  <div
    class="card mx-4 mx-md-5 shadow-5-strong"
    style="
      margin-top: -100px;
      background: hsla(0, 0%, 100%, 0.3);
      backdrop-filter: blur(30px);
      font-family: Georgia, 'Times New Roman', Times, serif;
    "
  >
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5" style="color: rgb(173, 63, 41)">
            ORDERS ARE HERE
          </h2>
          <div class="row">
            <div class="col md-2"><button type="button" class="btn btn-outline-secondary" (click)="getNotCompleted()">IN PROGRESS</button></div>
            <div class="col md-2"><button type="button" class="btn btn-outline-secondary" (click)="getCompleted()">DELIVERED</button></div>
      
        </div>
          
            
    
    <div class="inside-order">
      
            <table class="table">
              <thead>
        
                <tr>
                   <th scope="col">ID</th> 
                
                  <th scope="col">totalPrice</th>
                  <th scope="col">&nbsp;&nbsp;ordercreatedTime</th>
                   <th scope="col">orderDelivaryTime</th> 
                  <th scope="col">customerName</th>
                  <th scope="col">customerNumber</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <tr *ngFor="let r of result">
                   <td class="res">{{r.id}}</td> 
                    
                  <td class="res">{{r.totalPrice}}</td>
                  <td class="res">{{r.orderCreatedTime}}</td>
                   <td class="res">{{r.orderDeliveryTime}}</td>  
                  <td class="res">{{r.customerName}}</td>
                  <td class="res">{{r.contactNumber}}</td>
               </tr>
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>