



.inside-menu{

    position:relative;

    overflow-y: scroll;

    height: 350px;

}



.menu{

    display: flex;

    justify-content: center;

    background-color: white;

     position: -webkit-sticky; /* Safari */

  position: sticky;

  top: 0;

}



.head{

    margin-bottom: -10px;

}

.name{

    /* padding-left: 12px; */

    display: flex;

    flex-direction: column;

    align-items: flex-start;

    /* justify-content: left; */

    font-size: smaller;

    font-weight: 100;

    font-style: italic;

}