
.inside-menu{

    position:relative;

    overflow-y: scroll;

    height: 400px;

    margin-top: -25px;
}
#itm{
    padding-top: 15px;
    margin-top: -25px;
}

.head{

    margin-bottom: -10px;

}

.name{

    padding-left: 12px; 
    display: flex;
    flex-direction: column;

    align-items: flex-start;

    font-size: smaller;
    font-style: italic;

}
.nm{
    display: flex;
    padding-left: 12px; 
    font-size: smaller;
    font-style: italic;
    justify-content: space-between;
}

.ia{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bttn{
    background-color:rgb(231, 228, 243);
    color: black;
    border-color: black;
  }
#qnt{
    display: flex;
}
.btttn{
    background-color:rgb(229, 226, 241);
    color: black;
    border-color: black;
  }

.btttn:hover{
    background-color:rgb(217, 226, 235);
    color: rgb(4, 3, 0);
  }
.bttn:hover{
    background-color:rgb(203, 217, 233);
    color: rgb(4, 3, 0);
  }
  .final_field{
    margin-left: 37px;background-color: rgb(233, 231, 240);height: fit-content; 
    border-radius: 7px;
    padding: 10px;
    margin-left: 10px;
  }
