<section class="text-center">
  <div class="p-5 bg-image background"></div>
  <div
    class="card mx-4 mx-md-5 shadow-5-strong"
    style="
      margin-top: -100px;
      background: hsla(0, 0%, 100%, 0.3);
      backdrop-filter: blur(30px);
      font-family: Georgia, 'Times New Roman', Times, serif;
    "
  >
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5" style="color: rgb(173, 63, 41)">
            Menu
          </h2>
          <div class="inside-menu" style="background-color:antiquewhite;">
            <table class="table table-borderless" >
              <tbody>
                <tr *ngFor="let r of result.foodProducts">
                  <ul style="list-style: none;">
                    <div class="head">
                      <li>
                        <td>{{ r.name }}</td>
                      </li>
                   </div>
                   <div class="name">
                    <li>{{ r.price }} /Rs.</li>
                    <li>{{ r.type }}</li>
                    <li >{{ r.about }}</li>
                  </div>
                  <hr>
                </ul>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




