<div style="margin-top:3cm ;">
    <div class="clr card border-dark mb-3 hov opc" style="max-width: 18rem;" >
      <div class="card-header header">Create New Order</div>
      <div class="card-body text-dark ">
        <p class="card-text">Create new customer order and send for delivery</p>
        <button   routerLink="../add-order" class="bttn btn btn-primary">Create</button>
      </div>
    </div>
    <div class="clr card border-dark mb-3 hov opc" style="max-width: 18rem;">
      <div class="card-header header">Menu</div>
      <div class="card-body">
          <p class="card-text">All of your food products will be shown here</p>
        <button routerLink="../menu" class="bttn btn btn-primary">View Menu</button>
      </div>
    </div>
    <div class="clr card border-dark mb-3 hov opc" style="max-width: 18rem;" >
      <div class="card-header header">Orders</div>
      <div class="card-body">
          <p class="card-text">Checkout all your pending and completed order</p>
        <button  routerLink="../orders" class="bttn btn btn-primary">View Orders</button>
      </div>
    </div>
    
  </div>
  <div>
      <div class="clr card border-dark mb-3 hov opc" style="max-width: 18rem;" >
          <div class="card-header header">Modify Menu</div>
          <div class="card-body text-dark ">
            <p class="card-text">Modity your menu products and the details</p>
            <button outerLink="../register" class="bttn btn btn-primary">Modify</button>
        </div>
        </div>
        <div class="clr card border-dark mb-3 hov opc" style="max-width: 18rem;">
          <div class="card-header header">Branch</div>
          <div class="card-body">
              <p class="card-text">Check out your branch details and address</p>
            <button    routerLink="../register" class="bttn btn btn-primary">View Branch</button>
          </div>
        </div>
        <div class="clr card border-dark mb-3 hov opc" style="max-width: 18rem;">
          <div class="card-header header">Settings</div>
          <div class="card-body text-dark ">
            <p class="card-text">Modify your details and change your password</p>
            <button routerLink="../settings"   class="bttn btn btn-primary">Go To Settings</button>
          </div>
        </div>
      </div>   