<section class="text-center">
  <div class="p-5 bg-image background"></div>
    <div class="card mx-4 mx-md-5 shadow-5-strong " style="
         margin-top: 5%;
            background: hsla(0, 0%, 100%, 0.3);
            backdrop-filter: blur(30px);
            color:rgb(173, 63, 41) ;
            
    font-family: Georgia, 'Times New Roman', Times, serif;
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5" style="color: rgb(173, 63, 41);">Sign up now</h2>
            <form #regData="ngForm" (ngSubmit)="regUser(regData)" >
              
              
                  <div class="form-group form-outline mb-4">
                    <input type="text" 
                    class="form-control" 
                    ngModel
                    id="fullName" 
                    name="fullName"
                    #fullName="ngModel"
                    placeholder="Enter User Name"
                    >
                  </div>  
              <!-- Email input -->
              <div class="form-group form-outline mb-4">
                <input type="text" 
                class="form-control" 
                ngModel
                id="email" 
                name="email"
                #email="ngModel"
                placeholder="Enter User Email"
                >
              </div>
  
              <!-- Password input -->
              <div class="form-group form-outline mb-4">
                <input type="password" 
                class="form-control" 
                ngModel
                id="password" 
                name="password"
                #password="ngModel"
                placeholder="Enter User Password"
                >
              </div>
              <div class="form-group form-outline mb-4" >
                <input type="text" 
                class="form-control" 
                ngModel
                id="role" 
                name="role"
                #role="ngModel"
                placeholder="Enter User Role"
                >
              </div>
  
              <!-- Submit button -->
              <div class="col text-center">
                <button type="submit" class="button btn btn-primary" style="width: 15%;">
                  Sign up
                </button>
              </div>
            </form>
          </div>
          <div class="col-lg-8 px-md-5 pt-4" >
            <h6>Already a user ?</h6>
            <button routerLink="../login" type="submit" class="button btn btn-primary" style="width: 15%;">
              Login In
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>