.inside-menu{
    position:relative;
    overflow-y: scroll;
    height: 350px;
} 

.menu{
    display: flex;
    justify-content: center;
    background-color: beige;
     position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
} 

.head{
    margin-bottom: -10px;
}
.name{ 
    /* margin-left: 30px; */
    padding-left: 12px;
    font-size: smaller;
    font-weight: 100;
    font-style: italic;
}
