<section class="text-center">
    <div class="p-5 bg-image background"></div>
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -90px;
        background: hsla(0, 0%, 100%, 0.3);
        backdrop-filter: blur(30px);
        font-family: Georgia, 'Times New Roman', Times, serif;
        ">
      <div class="card-body py-5 px-md-5" >
        <div class="row d-flex justify-content-center">
          <div >
            <h2 class="fw-bold mb-5 header" >
              Branch Details
            </h2>
            <div class="inside-order" style="margin-top: -50px;">
              <table class="table table-borderless" >
                <tbody>
                    <tr>
                        <th class="res1">Branch ID</th>
                        <th class="res">1010550</th>
                      </tr>
                      <tr>
                        <td class="res1">Branch Name</td>
                        <td class="res">Team 5 Clarivate Training</td>
                      </tr>
                      <tr>
                        <td class="res1">Branch Location</td>
                        <td class="res">Whitefield, Bangalore , Karnataka</td>
                      </tr>
                      <tr>
                        <td class="res1">Branch Timings</td>
                        <td class="res">10AM - 5PM</td>
                      </tr>
                      <tr>
                        <td class="res1">Branch Email</td>
                        <td class="res">harshchib70@gmail.com</td>
                      </tr>
                      <tr>
                        <td class="res1">Branch ContactNumber</td>
                        <td class="res">7006049358</td>
                      </tr>
                </tbody>
              </table>
            </div>
            <button routerLink="../cards" class="btn btn-primary bttn">Dashboard</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  